body{
    background-color: beige;
}

h1{
    color: darkblue;
    text-align: left;
}

.name{
    color: darkred;
    text-align: left;
}

.profile{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000814;
    font-size: 20px;
}

nav{
    color: #000814;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#technologies{
    color: #000814;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}